.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__btn {
    width: 92px !important;
    height: 53px !important;
    font-size: 20px !important;
    color: white !important;
    background-color: rgb(8, 24, 77) !important;
    border: none !important;
  }
  &__input {
    :global(.ant-input) {
      color: white !important;
      font-size: 18px !important;
      background-color: transparent !important;
    }
    width: 241px !important;
    height: 55px !important;
    border: 4px solid #000000 !important;
    background-color: transparent !important;
  }
  &__info {
    margin-top: 22px;
    margin-bottom: 0;
    font-size: 18px;
  }
}

.icon {
  padding: 0 0.5rem;
  cursor: pointer;
  pointer-events: all !important;
}
