.module {
  height: 100%;
  background-color: transparent !important;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: @white !important;
  }

  .m1 {
    padding: 49px 37.83% 0 39.83%;
  }

  .m2 {
    padding: 44px 37.83% 0 39.83%;
  }
}

.wrapper {
  height: 100%;
  background-image: url("../../../assets/lottoBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.hr {
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: @screen-xs) and (max-width: @screen-xxl) {
  .module {
    .m1 {
      padding: 20px 31.67% 0 31.67%;
    }

    .m2 {
      padding: 36px 31.67% 0 31.67%;
    }
  }
}

@media screen and (max-width: @screen-xs) {
  .module {
    .m1 {
      padding: 40px 15.38% 0 15.38%;
    }

    .m2 {
      padding: 33px 15.38% 0 15.38%;
    }
  }

  .hr {
    position: absolute;
    bottom: 0;
    width: 100vw;
  }
}
