.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.container h3 {
  margin-bottom: 0px;
}

.square {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  margin-right: 6px;
}
