.module {
  position: relative;
  height: 100%;
  // background-color: @module-color;
  // background-color: transparent
  background-image: url('../../../assets//dataBg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
