.steps {
  display: flex;
  flex-direction: column;
  row-gap: @margin-lg;
}

.step {
  &__title {
    display: flex;
    align-items: center;
    font-weight: 600;
  }

  &__no {
    display: block;
    width: calc(@font-size-lg * @line-height-base);
    height: calc(@font-size-lg * @line-height-base);
    margin-right: @margin-sm;
    font-size: @font-size-lg;
    color: @black;
    text-align: center;
    line-height: @line-height-base;
    background: @normal-color;
    border-radius: 5px;
  }

  &__desc {
    margin-top: @margin-md;
    font-size: @font-size-lg;
    color: @gray-8;
    line-height: @line-height-base;
  }
}

@media screen and (max-width: @screen-xs) {
  .steps {
    row-gap: @margin-sm;
  }

  .step {
    &__no {
      width: calc(@font-size-sm * @line-height-base);
      height: calc(@font-size-sm * @line-height-base);
      margin-right: @margin-xs;
      font-size: @font-size-sm;
      border-radius: 3px;
    }

    &__desc {
      margin-top: @margin-sm;
      font-size: @font-size-sm;
    }
  }
}

@media screen and (min-width: @screen-xs) and (max-width: @screen-xxl)  {
  .steps {
    row-gap: @margin-lg;
  }
  .step {
    &__no {
      width: calc(@font-size-base * @line-height-base);
      height: calc(@font-size-base * @line-height-base);
      margin-right: @margin-md;
      font-size: @font-size-base;
    }

    &__desc {
      margin-top: @margin-sm;
      font-size: @font-size-base;
    }
  }
}
