.container {
  margin-top: calc(@margin-lg * 2.2);
}

.brands {
  margin-top: calc(@margin-lg * 2.92);
  padding: 0 170px;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(@height-lg * 2);
    // border: 1px solid @gray-3;
    background-color: @white;
    border-radius: calc(@border-radius-base * 5);
  }
}

.links {
  color: white;
  ul {
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    padding-left: 0;
  }
  a{
    color: white;
  }
  &__item {
    display: flex;
    column-gap: 9px;
  }
}
