.logo {
  display: flex;
  float: left;
  height: 100%;
  margin-right: calc(@margin-lg * 3);
  align-items: center;
  &__img {
    width: @height-lg;
    height: @height-lg;
    background: url("../../assets//logo.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  &__title{
    font-size: @heading-2-size;
    margin-left: @margin-sm;
    font-weight: bolder !important;
  }
}
