.layout {
}

.module {
  position: relative;
  height: 100%;
  background-color: transparent;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li {
    color: @white !important;
  }

  &__m1 {
    padding-top: 77px;
    padding-bottom: 0;
  }

  &__m2 {
    padding-top: 59px;
    padding-bottom: 0;
  }

  &__m3 {
    padding: 0;
    padding-top: 98px;
  }

  &__m4 {
    padding: 320px 236px 0 236px;
  }
}
.wrapper {
  position: relative;
  // background-color: rgb(11, 48, 101);
  background-image: url("~@/assets/NFTIllustration.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: @layout-header-height;
  min-height: calc(100vh - @layout-header-height);
}
