.container {
  display: flex;
  align-items: center;
  border-right: 2px solid ;
  border-radius: 1px;
  border-color: rgb(228, 230, 237);;
  padding-right: 1rem;
  margin-right: 1.5rem;
}

.img {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  margin-right: 0.75rem;
}

.text {
  line-height: 1.5;
  margin: 0px;
  color: rgb(23, 25, 36);
  font-size: 1rem;
  font-weight: 500;
}
