@import "~antd/dist/antd.css";
@import "~react-grid-layout/css/styles.css";
@import "~react-resizable/css/styles.css";

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout-content {
  margin: 0 auto;
  min-height: calc(100vh - 64px - 48px);
  max-width: 1600px;
  background: #fff;
}

.ant-layout,
.ant-layout-footer {
  background: none;
}


/* only for dev */
.react-grid-item{
  border: 1px dotted red;
}