@import "~antd/dist/antd.css";
@import "~react-grid-layout/css/styles.css";
@import "~react-resizable/css/styles.css";

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout-content {
  margin: 0 auto;
  min-height: calc(100vh - 64px - 48px);
  max-width: 1600px;
}

.ant-layout {
  background: rgb(239, 239, 239);
}

.ant-layout-footer {
  background: none;
}

.react-grid-item {
  display: grid;
  /* only for dev */
  /* border: 1px dotted red; */
}

/* component */
.ant-statistic-title {
  font-size: 12px;
  font-weight: 500;
  color: rgb(31, 31, 31);
  margin-bottom: 0;
}

.ant-statistic-content-suffix {
  font-size: 0.555556em;
  font-weight: 500;
  color: rgb(31, 31, 31);
}

.ant-statistic-content {
  font-family: Gotham, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

hr {
  padding: 0px;
  margin: 80px 0px 40px;
  border: 0px;
  height: 5px;
  border-radius: 3px;
  background: rgb(244, 244, 245);
  box-shadow: rgb(218 218 222) 1px 1px 2px inset,
    rgb(255 255 255) -1px -1px 2px inset;
}
