.btn {
  &,
  &:hover,
  &:focus,
  &:active {
    height: 26px !important;
    border-radius: 20px !important;
    padding: 0px 20px !important;
    border-color: rgb(75, 219, 75) !important;
    background-color: transparent !important;
  }
  & > span {
    font-size: 12px;
    font-weight: 700;
    color: rgb(75, 219, 75);
    line-height: 1 !important;
  }
}


@media screen and (max-width: @screen-md) {
  .btn {
    &,
    &:hover,
    &:focus,
    &:active {
      border-radius: 4px !important;
      padding: 0px 5px !important;
    }
    & > span {
      font-size: 8px;
      font-weight: normal !important;
    }
  }
}
